:root {
    --bg-breadcrumb: #f2bb15;
}

.bg-breadcrumb {
    background-color: var(--bg-breadcrumb);
}

.w-200px {
    max-width: 200px;
    text-wrap: wrap;
}



.dataTables_paginate {
    margin-top: 20px!important;
}

.dataTables_filter {
    display: none;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    margin: 0 3px
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button .previous {
    border-radius: 7px 0 0 7px;
    background-color: var(--bs-gray-200)
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary)
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.break-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
